/* You can add global styles to this file, and also import other style files */
body{
  font-family: NunitoSans, sans-serif;
  padding: 40px 35px;
  margin: 0;
  background-color: black;
  color: wheat;
}
*, html{
  // margin: 0;
  // padding: 0;
}
